<div id="corpo">
  <div id="display">
  <span id="expressoes"></span>

</div>
    <div id="todosBotoes">
    <div id="divBotoes">
      <button (click)="click($event)" class="botoes">9</button>
      <button (click)="click($event)" class="botoes">8</button>
      <button (click)="click($event)" class="botoes">7</button>
      <button (click)="click($event)" class="botoes">6</button>
      <button (click)="click($event)" class="botoes">5</button>
      <button (click)="click($event)" class="botoes">4</button>
      <button (click)="click($event)" class="botoes">3</button>
      <button (click)="click($event)" class="botoes">2</button>
      <button (click)="click($event)" class="botoes">1</button>
      <button (click)="CE($event)" id="CE">CE</button>
      <button (click)="click($event)" id="zero">0</button>
    </div>
    
    <div id="operador">
      <button (click)="click($event)" class="operadores">+</button>
      <button (click)="click($event)" class="operadores">-</button>
      <button (click)="click($event)" class="operadores">×</button>
      <button (click)="click($event)" class="operadores">÷</button>
      <button (click)="calcular($event)" id="igual">=</button>
    </div>
    
  </div>
  
    
</div>